<li>
     <!--  <%= link_to "Creer recrutement", new_recrutement_path %> -->
     <a href="#" id="<%= @club.id %>" class="envoi">creer</a>
    </li>
<p id="notice"><%= notice %></p>




  <br/>
<br/>
<br/>


      <h1>Nom du club: <%= @club.nom_club %> </h1>

   <h2>Categorie: <%= @club.categorie%> </h2>

 

