<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @request.nom %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @request.prenom %>
</p>

<p>
  <strong>Age:</strong>
  <%= @request.age %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @request.adresse %>
</p>

<p>
  <strong>Parcours:</strong>
  <%= @request.parcours %>
</p>


<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
